<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">
	<resultMap id="BaseResultMap"
		type="com.example.demo.entity.User">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="CHAR" property="name" />
		<result column="pwd" jdbcType="CHAR" property="pwd" />
		<result column="sex" jdbcType="CHAR" property="sex" />
		<result column="home" jdbcType="CHAR" property="home" />
		<result column="info" jdbcType="CHAR" property="info" />
	</resultMap>

	<select id="findByName" parameterType="CHAR"
		resultMap="BaseResultMap">
		select * from user where name = #{name}
	</select>

</mapper>